﻿@model Palestra_ASP.Models.Utente
@{ Layout = "_Layout"; }

<div class="row">
    <div class="col">

        <form asp-controller="Utente" asp-action="Iscrizione" method="post">

            <div class="form-group">
                <label asp-for="Nome">Nome:</label>
                <input type="text" asp-for="Nome" placeholder="Inserisci il valore" class="form-control" />
                <span asp-validation-for="Nome"></span>
            </div>

            <div class="form-group">
                <label asp-for="Cognome">Cognome:</label>
                <input type="text" asp-for="Cognome" placeholder="Inserisci il valore" class="form-control" />
                <span asp-validation-for="Cognome"></span>
            </div>

            <div class="form-group">
                <label asp-for="Indirizzo">Indirizzo:</label>
                <input type="text" asp-for="Indirizzo" placeholder="Inserisci il valore" class="form-control" />
                <span asp-validation-for="Indirizzo"></span>
            </div>

            <div class="form-group">
                <label asp-for="D_Nascita">Data di Nascita:</label>
                <input type="text" asp-for="D_Nascita" placeholder="Inserisci il valore" class="form-control" />
                <span asp-validation-for="D_Nascita"></span>
            </div>


            <div class="form-group">
                <label asp-for="Username">Username:</label>
                <input type="text" asp-for="Username" placeholder="Inserisci il valore" class="form-control" />
                <span asp-validation-for="Username"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password">Password:</label>
                <input type="text" asp-for="Password" placeholder="Inserisci il valore" class="form-control" />
                <span asp-validation-for="Password"></span>
            </div>

            <div class="form-group">
                <label asp-for="VerificaPwd">Verifica Password:</label>
                <input type="text" asp-for="VerificaPwd" placeholder="Inserisci il valore" class="form-control" />
                <span asp-validation-for="VerificaPwd"></span>
            </div>


            <button type="submit">Iscriviti</button>
        </form>

    </div>
</div>