﻿@model Palestra_ASP.Models.Utente
@{ Layout = "_Layout"; }

<div class="row">
    <div class="col">

        <form asp-controller="Utente" asp-action="Login" method="post">

            <div class="form-group">
                <label asp-for="Username">Username:</label>
                <input type="text" asp-for="Username" placeholder="Inserisci il valore" class="form-control" />
                <span asp-validation-for="Username"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password">Password:</label>
                <input type="text" asp-for="Password" placeholder="Inserisci il valore" class="form-control" />
                <span asp-validation-for="Password"></span>
            </div>

                        
            <button type="submit">Login</button>
        </form>

    </div>
</div>