.bg-custom-lightblue{
    background-color: #5fabd6;
}

.bg-custom-background{
    background-color: #4c5a63;
}

.bg-custom-purewhite{
    background-color: #ffffff;
}

.titolo{
    color: #ffffff;
    font-size: 100px;
}