﻿@model Palestra_ASP.Models.Corso
@{ Layout = "_Layout"; }

<div class="row">
    <div class="col">

        <form asp-controller="Corso" asp-action="Dettaglio" method="post">
            <div class="form-group">
                <label asp-for="Titolo">Titolo:</label>
                <input type="text" asp-for="Titolo" placeholder="Inserisci il valore" class="form-control" />
                <span asp-validation-for="Titolo"></span>
            </div>

            <div class="form-group">
                <label asp-for="Descrizione">Descrizione:</label>
                <input type="text" asp-for="Descrizione" placeholder="Inserisci il valore" class="form-control" />
                <span asp-validation-for="Descrizione"></span>
            </div>

            <div class="form-group">
                <label asp-for="Codice">Codice:</label>
                <input type="text" asp-for="Codice" placeholder="Inserisci il valore" class="form-control" />
                <span asp-validation-for="Codice"></span>
            </div>

            <div class="form-group">
                <label asp-for="Data">Data:</label>
                <input type="text" asp-for="Data" placeholder="Inserisci il valore" class="form-control" />
                <span asp-validation-for="Data"></span>
            </div>

        </form>

    </div>
</div>