﻿@model List<Palestra_ASP.Models.Corso>

@{ Layout = "_Layout"; }

<h1>Corsi Disponibili</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Titolo</th>
            <th>Descrizione</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Titolo</td>
                    <td>@item.Descrizione</td>

                    <td>
                        <a href="/Corso/Dettaglio/@item.Cod_C ">@item.Cod_C e</a>
                    </td>
                    <td>@item.Titolo</td>
                    <td>@item.Descrizione</td>
                    <td>@item.Codice</td>
                    <td>@item.Data</td>
                    <td>
                        <button type="button" class="btn btn-danger" onclick="eliminaCor('@item.Cod_C ')">Elim.</button>
                    </td>
                </tr>
            }

    </tbody>
</table>